body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
}
p{
    margin: 0;
    padding: 0;
}
nav{
    border: 1px solid glass;
    position: fixed;
    top: 0;
    width:90%;
    margin-left: 10%;
    height: 4rem;
    box-sizing: border-box;
    z-index: 20;
}
nav .logo{
    float: left;
}
nav .logo img{
    width: 5.6rem;
    z-index: 20;
}
nav ul{
    margin: 0;
    margin-top: 20px;
    display: flex;
    justify-content:flex-end;
    font-size: 16px;
}
nav ul li{
    list-style: none;
    display: inline;
}
nav ul li a{
    color: rgb(31, 45, 61);
    padding: 5px 30px;
    text-decoration: none;
    text-transform: uppercase;
}
.active .logo img{
    width: 5.6rem;
}
.box{
    width: 100%;
    height: 4rem;
    background: transparent;   
    z-index: 20; 
}
.glass{
    background-color: rgba(238, 234, 234, 0.75);
    backdrop-filter: saturate(180%) blur(20px);
    border-bottom: 1px solid rgba(182, 179, 179, 0.75);
    position: fixed;
    width: 100%;
    height: 4rem;
}
.reponsive-bar{
    display: none;
}

.landing{
    margin: 2px auto;
    height: 15rem;
    background: url('./images/landing.jpg');
    background-size: cover;
    margin-bottom: 16px;
}
.content{
    padding-left: 5rem;
    padding-top: 1rem;
}
.option{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 2rem;
    padding-top: 0.4rem;
    font-size: 16px;
}
.container{
    padding: 16px;
    display: flex;
}
.container-1{
    width: 247px;
    height: 70vh;
    padding-left: 16px;
    overflow-y: scroll;
}
.searchbox{
    margin-top: 1rem;
    height: 2rem;
    display: flex;
    align-items: center;
    background-color: #bbbbbb;
    border-radius: 5px;
}
::-webkit-scrollbar{
    display: none;
}
.menu li{
    list-style: none;
    padding-right: 10px;
    text-align: center;
}
.menu li a{
    text-decoration: none;
    color: black;
}
.list-button{
    height: 2rem;
    padding-top: 0.5rem;
}
.expand{
    padding:0.5rem 0;
}
.list li, .list2 li{
    margin-left: -20px;
    text-align: left;
}
.searchbox i{
    margin-left: 1rem;
    font-size: 2vw;
}
.container-1 input{
    background: none;
    border: none;
}
.container-2{
    width: 728px;
    height: 90vh;
    overflow-y: scroll;
}
.info-button{
    background: none;
    border: none;
    font-size: 16px;
}
.container-2::-webkit-scrollbar{
    display: none;
}
.inside{
    margin: 5px 100px;
}
.title{
    text-align: center;
    font-size: 3vw;
    font-weight: 900;
}
.info{
    margin-top: 0.5rem;
    font-size: 14px;
}
.card{
    margin: 10px auto;
    width: 100%; 
    display: flex;
    border-radius: 5px;
    padding: 0 12px;
    padding-bottom: 10px;
    box-shadow: 0px 0px 10px 2px rgba(168,168,168,0.43);
}
.card:hover{
    box-shadow: 0px 0px 10px 2px rgba(168,168,168,0.43);
}

.cart{
    margin-top: 1.4rem;
    border: none;
    background-color: rgb(255, 195, 32);
    width: 5rem;
    height: 2rem;
    border-radius: 5px;
}

.left{
    width: 85%;
}
.right{
    margin: 1rem auto;
}
.counter button{
    display: block;
    background: none;
    border: none;
    font-size: 15px;
}
.counter{
    text-align: center;
    background-color: rgb(255, 195, 32);
    padding-top: 1rem;
    border-radius: 5px;
    height: 5rem;
}

#clicks{
    font-size: 20px;
}
.addon{
    font-size: 14px;
}
.container-3{
    width: 331px;
    height: 100%;
    margin-bottom: 5rem;
    padding-top: 30px;
    position: sticky;
}
.cart-title{
    text-align: center;
    margin-bottom: 2rem;
}
.cart-title h1{
    font-weight: 900;
    margin: 0;
    padding: 0;
}
.container-3 .empty{
    width: 100%;
}
.container-3 .cart-text{
    margin-left: 20px;
}
.container-3 .cart-text h3{
    font-weight: 900;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
}
.container-3 .cart-text p{
    padding: 0;
    margin: 0;
    width: 91%;margin-bottom: 1rem;
}
.order{
    background-color: rgb(255, 200, 49);
    border: none;
    width: 100%;
    height: 3rem;
    font-size: 22px;
    border-radius: 5px;
}
.inactive{
    background-color: rgb(114, 114, 114);
}
.order-list{
    padding-left: 12px;
}
.item{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.total{
    font-size: 20px;
}
.quantity{
    display: flex;
}
.order-count{
    display: flex;
    justify-content: space-around;
    width: 5rem;
    margin-right: 2rem;
    border-radius: 5px;
}
.order-count button{
    border: none;
    background: none;
    color:rgb(243, 146, 35) ;
    font-size: 20px;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5rem;
}
@media(max-width: 768px){ 
    nav{
        display: none;
    }

    .reponsive-bar{
        display: block;
        width: 100%;
        height: 4rem;
        background-color: rgba(238, 234, 234, 0.75);
        backdrop-filter: saturate(180%) blur(20px);
        border-bottom: 1px solid rgba(238, 234, 234, 0.75);
        position: fixed;
        position: fixed;
        top: 0;
        left: 0px;
        padding: 5px 30px;
        box-sizing: border-box;
        
    }
    .hamburger{
        float: right;
        font-size: 20px;
        border: 0;
        background: transparent;
        margin-top: 10px;
    }
    .reponsive-bar .logo{
        float: left;
        position: fixed;
    }
    .reponsive-bar .logo img{
        width: 5.6rem;
    }
    .reponsive-bar .noshow{
        display: none;
    }
    .cross{
        float: right;
        font-size: 20px;
        border: 0;
        background: transparent;
        margin-top: 10px;
    }
    .big{
        height: 50%;
        background-color: rgba(238, 234, 234, 0.75);
        backdrop-filter: saturate(180%) blur(20px);
        border-bottom: 1px solid rgba(238, 234, 234, 0.75);
        position: fixed;
    }
    .big .show{
        padding: 0;
        width: 100%;
        height: 250px;
        margin: 0;
        margin-top: 50px;
        text-align: center;
    }
    .big li{
        list-style: none;
        padding-bottom: 20px;
        font-size: 18px;
        font-family: 'Phantom Sans'; 
        font-weight: bold;
        font-style: normal;
        font-display: swap;
    }
    .reponsive-bar li a{
        color: rgb(31, 45, 61);
        text-decoration: none ;
        text-transform: uppercase;
    }
    .glass{
        display: none;
    }
    .content{
        padding-left: 3rem;
        padding-top: 1rem;
    }
}
@media(max-width: 550px){
    .content{
        padding-left: 1rem;
    }
    .content h1{
        font-size: 2rem;
    }
}
.none{
    display: none;
}
.show{
    display: block;
}
.pos{
   margin-top: 2rem;
}
.static{
    
    position: fixed;
    bottom: 0;
}
/*FOOTER*/
.footer-box{
    padding: 16px 0px;
    display: flex;
    justify-content: space-around;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}
.contact-details{
    width: 33%;
    text-align: center;
    line-height: 1.6;
}
footer .text{
    width: 33%;
    text-align: center;
    padding-top: 20px;
}
.text a{
    text-decoration: none;
    color: #ffffff;
}
.footer-right{
    width: 33%;
    padding-top: 20px;
}
.icons{
    width: 100%;
    text-align: center;
    font-size: 20px;
}
.links{
    width: 100%;
    text-align: center;
}
.links a{
    text-decoration: none;
    color: #ffffff;
}